@font-face {
    font-family: 'ralewayblack';
    src: url('../fonts/raleway-black.woff2') format('woff2'),
    url('../fonts/raleway-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayblack_italic';
    src: url('../fonts/raleway-blackitalic.woff2') format('woff2'),
    url('../fonts/raleway-blackitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold.woff2') format('woff2'),
    url('../fonts/raleway-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold_italic';
    src: url('../fonts/raleway-bolditalic.woff2') format('woff2'),
    url('../fonts/raleway-bolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextrabold';
    src: url('../fonts/raleway-extrabold.woff2') format('woff2'),
    url('../fonts/raleway-extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextrabold_italic';
    src: url('../fonts/raleway-extrabolditalic.woff2') format('woff2'),
    url('../fonts/raleway-extrabolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextralight';
    src: url('../fonts/raleway-extralight.woff2') format('woff2'),
    url('../fonts/raleway-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextralight_italic';
    src: url('../fonts/raleway-extralightitalic.woff2') format('woff2'),
    url('../fonts/raleway-extralightitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayitalic';
    src: url('../fonts/raleway-italic.woff2') format('woff2'),
    url('../fonts/raleway-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light.woff2') format('woff2'),
    url('../fonts/raleway-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight_italic';
    src: url('../fonts/raleway-lightitalic.woff2') format('woff2'),
    url('../fonts/raleway-lightitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium.woff2') format('woff2'),
    url('../fonts/raleway-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium_italic';
    src: url('../fonts/raleway-mediumitalic.woff2') format('woff2'),
    url('../fonts/raleway-mediumitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular.woff2') format('woff2'),
    url('../fonts/raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/raleway-semibold.woff2') format('woff2'),
    url('../fonts/raleway-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold_italic';
    src: url('../fonts/raleway-semibolditalic.woff2') format('woff2'),
    url('../fonts/raleway-semibolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaythin';
    src: url('../fonts/raleway-thin.woff2') format('woff2'),
    url('../fonts/raleway-thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaythin_italic';
    src: url('../fonts/raleway-thinitalic.woff2') format('woff2'),
    url('../fonts/raleway-thinitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}